<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add other CSS or custom styles here if needed -->
    <title>User Home</title>
</head>
<body>
<div class="container mt-5">
    <h1>Welcome, <span th:text="${session.user.name}"></span>!</h1>

    <form th:action="@{/logout}" method="post" style="display: inline;">
        <button type="submit" class="btn btn-danger btn-lg">Logout</button>
    </form>
</div>
</body>
</html>
